@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "条码二维码管理";
}

@*脚本引用放在此处可以实现自定义函数自动提示*@
<script src="~/Scripts/CommonUtil.js"></script>
<script src="~/Content/JQueryTools/JsBarcode/dist/JsBarcode.all.min.js"></script>
<script src="~/Content/JQueryTools/jquery-qrcode/jquery.qrcode.min.js"></script>
<script src="~/Content/JQueryTools/qrcodejs/qrcode.min.js"></script>
<script src="~/Content/JQueryTools/printThis/printThis.js"></script>


<div class="portlet box green-meadow" id="barContent">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>
            条形码列表
        </div>
        <div class="tools">
            <button type="button" onclick="PrintBarcode2()" class="btn btn-circle red">
                <i class="fa fa-plus"></i>
                打印文档
            </button>
        </div>
    </div>
    <div class="portlet-body flip-scroll" id="barcode" stle="width:99%">
        <div class="row" id="barDiv1">
            <div class="col-md-4 col-sm-4 col-xs-4">
                条形码(770 145 896 701)：<br />
                <img alt="" id="barcode1" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                条形码(770 145 896 702)：<br />
                <img alt="" id="barcode2" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                条形码(770 145 896 703)：<br />
                <img alt="" id="barcode3" />
            </div>
        </div>
        <div class="clearfix" style="height:10px"> </div>

        <div class="row" id="barDiv2">
            <div class="col-md-4 col-sm-4 col-xs-4">
                条形码(770 145 896 704)：<br />
                <img alt="" id="barcode4" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                条形码(770 145 896 705)：<br />
                <img alt="" id="barcode5" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                条形码(770 145 896 706)：<br />
                <img alt="" id="barcode6" />
            </div>
        </div>
        <div class="row" id="barDiv3">
            <div class="col-md-4 col-sm-4 col-xs-4">
                条形码(770 145 896 707)：<br />
                <img alt="" id="barcode7" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                条形码(770 145 896 708)：<br />
                <img alt="" id="barcode8" />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                条形码(770 145 896 709)：<br />
                <img alt="" id="barcode9" />
            </div>
        </div>
        <div class="clearfix" style="height:10px"> </div>
    </div>
</div>

<div class="portlet box green-meadow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>
            二维码列表
        </div>
        <div class="tools">
            <button type="button" onclick="PrintQrcode2()" class="btn btn-circle red">
                <i class="fa fa-plus"></i>
                打印文档
            </button>
        </div>
    </div>
    <div class="portlet-body flip-scroll" id="qrcode" stle="width:99%">
        <table border='0' width='100%'>
            <tr>
                <td>
                    <table border='0' width='100%'>
                        <tr>
                            <td>
                                设备二维码(9001)：<br />
                                <div id="imgDevice9001"></div>
                            </td>
                            <td>
                                设备二维码(9002)：<br />
                                <div id="imgDevice9002"></div>
                            </td>
                            <td>
                                设备二维码(9003)：<br />
                                <div id="imgDevice9003"></div>
                            </td>
                        </tr>
                        <tr style="height:20px"><td colspan="3"></td></tr>
                        <tr>
                            <td>
                                设备二维码(9004)：<br />
                                <div id="imgDevice9004"></div>
                            </td>
                            <td>
                                设备二维码(9005)：<br />
                                <div id="imgDevice9005"></div>
                            </td>
                            <td>
                                设备二维码(9006)：<br />
                                <div id="imgDevice9006"></div>
                            </td>
                        </tr>
                        <tr style="height:20px"><td colspan="3"></td></tr>
                        <tr>
                            <td>
                                设备二维码(9007)：<br />
                                <div id="imgDevice9007"></div>
                            </td>
                            <td>
                                设备二维码(9008)：<br />
                                <div id="imgDevice9008"></div>
                            </td>
                            <td>
                                设备二维码(9009)：<br />
                                <div id="imgDevice9009"></div>
                            </td>
                        </tr>
                        <tr style="height:20px"><td colspan="3"></td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="portlet box green-meadow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>
            混合编码列表
        </div>
        <div class="tools">
            <button type="button" onclick="PrintQrcodeMix2()" class="btn btn-circle red">
                <i class="fa fa-plus"></i>
                打印文档
            </button>
        </div>
    </div>
    <div class="portlet-body flip-scroll" id="qrcodeMix" stle="width:99%">
        <table border='0' width='100%'>
            <tr>
                <td>
                    <table border='0' style="width:180px">
                        <tr>
                            <td>
                                <table border='0' width='100%'>
                                    <tr>
                                        <td>
                                            <div>资产名称：台式电脑-戴尔opt5040</div>
                                            <div>管理部门：信息中心</div>
                                            <div>使用部门：邗江客服服务科</div>
                                            <div>使用人：高燕</div>
                                            <div>存放地点：扬州市公司邗江分公司客服服务科三楼</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:5px">
                                            <img alt="" id="barcodeMix1" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <div id="imgDeviceMix1"></div>
                            </td>
                        </tr>
                    </table>
                    <div class="clearfix" style="height:10px"> </div>
                </td>
            </tr><tr>
                <td>
                    <table border='0' style="width:180px">
                        <tr>
                            <td>
                                <table border='0' width='100%'>
                                    <tr>
                                        <td>
                                            <div>资产名称：台式电脑-戴尔opt5040</div>
                                            <div>管理部门：信息中心</div>
                                            <div>使用部门：邗江客服服务科</div>
                                            <div>使用人：高燕</div>
                                            <div>存放地点：扬州市公司邗江分公司客服服务科三楼</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img alt="" id="barcodeMix2" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <div id="imgDeviceMix2"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

@section footerScript {
    <script type="text/javascript">
        $(function () {
            //设备图片二维码
            for (var i = 9001; i < 9010; i++) {
                var url = "http://www.iqidi.com/H5/device?devicecode=" + i;

                //使用jquery.qrcode的做法
                //$("#imgDevice" + i).qrcode({ width: 100, height: 100, text: url });
                //$("#imgDevice" + i).css("height", "100px");

                //设备图片二维码：使用qrcodejs的做法
                var qrcode = new QRCode(document.getElementById("imgDevice" + i), {
                    text: url,
                    width: 128,
                    height: 128,
                    colorDark: "#000000",
                    colorLight: "#ffffff",
                    correctLevel: QRCode.CorrectLevel.H
                });
            }

            //使用JsBarcode生成条形码
            for (var i = 1; i < 10; i++) {
                var barcodeValue = "77014589670" + i;//前缀 + 数值
                JsBarcode("#barcode" + i, barcodeValue, {
                    format: "CODE128",
                    displayValue: true, 
                    fontSize: 24,
                    lineColor: "#0cc"
                });
            }

            //混合编码显示内容
            var deviceCode = "123456";
            var url = "http://www.iqidi.com/H5/device?devicecode=" + deviceCode;
            var qrcode = new QRCode(document.getElementById("imgDeviceMix1"), {
                text: deviceCode,
                width: 150,
                height: 150,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });
            qrcode = new QRCode(document.getElementById("imgDeviceMix2"), {
                text: deviceCode,
                width: 150,
                height: 150,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });

            var barcodeValue = "770145896701";
            JsBarcode("#barcodeMix1", barcodeValue, {
                format: "CODE128",
                displayValue: true,
                fontSize: 24,
                lineColor: "#0cc",
                height: 20
            });
            JsBarcode("#barcodeMix2", barcodeValue, {
                format: "CODE128",
                displayValue: true,
                fontSize: 24,
                lineColor: "#0cc",
                height: 20
            });
        });

    </script>
    @*PrintThis打印控件操作*@
    <script>
        function PrintBarcode() {
            //打印预览
            $("#barcode").printThis({
                debug: false,
                importCSS: true,
                importStyle: true,
                printContainer: true,
                loadCSS: "/Content/Themes/Default/style.css",
                pageTitle: "条形码打印",
                removeInline: false,
                printDelay: 333,
                header: null,
                formValues: true
            });
        };

        function PrintQrcode() {
            //打印预览
            $("#qrcode").printThis({
                debug: false,
                importCSS: true,
                importStyle: true,
                printContainer: true,
                loadCSS: "/Content/Themes/Default/style.css",
                pageTitle: "二维码打印",
                removeInline: false,
                printDelay: 333,
                header: null,
                formValues: true
            });
        }

        function PrintQrcodeMix() {
            //打印预览
            $("#qrcodeMix").printThis({
                debug: false,
                importCSS: true,
                importStyle: true,
                printContainer: true,
                loadCSS: "/Content/Themes/Default/style.css",
                pageTitle: "资产编码打印",
                removeInline: false,
                printDelay: 333,
                header: null,
                formValues: true
            });
        }
    </script>

    @*LODOPWeb打印控件操作*@
    <script type="text/javascript">
        var LODOP; //声明为全局变量

        //打印条码预览
        function PrintBarcode2() {
            //默认HTML素材
            //CreatePrintData($("#barcode").html());

            //使用表格格式化输出
            //PrintBarcodeWithTable();

            //使用分页输出
            PrintBarcodeWithPaging();
        };

        //使用表格格式化输出
        function PrintBarcodeWithTable() {
            LODOP = getLodop();
            LODOP.PRINT_INIT("条码_格式化输出");
            var strHTML = "<table border='0' width='100%' >";
            strHTML = strHTML + "<tr><td>";
            strHTML = strHTML + $("#barDiv1").html();
            strHTML = strHTML + "</td></tr>";
            strHTML = strHTML + "<tr><td>";
            strHTML = strHTML + $("#barDiv2").html();
            strHTML = strHTML + "</td></tr>";
            strHTML = strHTML + "<tr><td>";
            strHTML = strHTML + $("#barDiv3").html();
            strHTML = strHTML + "</td></tr>";
            LODOP.ADD_PRINT_TABLE(88, 200, 700, 900, strHTML);

            LODOP.SET_SHOW_MODE("PREVIEW_IN_BROWSE", 1);
            LODOP.PREVIEW();
        }

        //使用分页输出
        function PrintBarcodeWithPaging() {
            LODOP = getLodop();
            LODOP.PRINT_INIT("条码_分页输出");
            LODOP.ADD_PRINT_HTM(100, 100, 600, 800, $("#barDiv1").html());
            LODOP.NewPage();
            LODOP.ADD_PRINT_HTM(100, 100, 600, 800, $("#barDiv2").html());
            LODOP.NewPage();
            LODOP.ADD_PRINT_HTM(100, 100, 600, 800, $("#barDiv3").html());
            LODOP.NewPage();

            LODOP.SET_SHOW_MODE("PREVIEW_IN_BROWSE", 1);
            LODOP.PREVIEW();
        }

        //直接打印条码
        function PrintA() {
            CreateBarcodeData();
            LODOP.PRINTA();
        };

        //打印二维码
        function PrintQrcode2() {
            CreatePrintData($("#qrcode").html());
            LODOP.SET_SHOW_MODE("PREVIEW_IN_BROWSE", 1);
            LODOP.PREVIEW();
        }

        //打印数据构建
        function CreatePrintData(html) {
            LODOP = getLodop();

            LODOP.PRINT_INIT("");
            //var strBodyStyle = "<link type='text/css' rel='stylesheet' href='/Content/Themes/Default/style.css' />";
            var strBodyStyle = "<style><!--table { border:1;background-color: #CBCBCC } td {background-color:#FFFFFE;border: 1; }";
            strBodyStyle += " th { background-color:#F1F1F3;padding-left:5px;border:1}--></style>";
            var strFormHtml = strBodyStyle + "<body>" + html + "</body>";
            LODOP.ADD_PRINT_HTM(20, 40, 710, 900, strFormHtml);
            LODOP.PREVIEW();
        }

        //资产编码的打印方式2
        function PrintQrcodeMix2() {
            CreatePrintData($("#qrcodeMix").html());
            LODOP.SET_SHOW_MODE("PREVIEW_IN_BROWSE", 1);
            LODOP.PREVIEW();
        }

    </script>
}
