@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "查看合同审批申请单";
}

@*脚本引用放在此处可以实现自定义函数自动提示*@
<script src="~/Scripts/CommonUtil.js"></script>
<script src="~/Content/JQueryTools/printThis/printThis.js"></script>

<!--此处放置业务表单的数据呈现，方便隔离，减少复杂性-->
@RenderPage("~/Views/Apply/ViewDetail.cshtml", new { applyId = Request["id"] })

<!--定义子表单数据呈现-->
<div class="portlet box green-meadow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>
            合同审批申请单-表单数据
        </div>
    </div>
    <div class="portlet-body flip-scroll">
        <div class="portlet-body">
            <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">合同名称</label>
                                <div class="col-md-8">
                                    <label id="ContactName2" name="ContactName" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">合同编号</label>
                                <div class="col-md-8">
                                    <label id="ContactNo2" name="ContactNo" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">签约日期</label>
                                <div class="col-md-8">
                                    <label id="SignDate2" name="SignDate" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">我方单位名称</label>
                                <div class="col-md-8">
                                    <label id="OurCompanyName2" name="OurCompanyName" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">我方负责人</label>
                                <div class="col-md-8">
                                    <label id="OurResponseMan2" name="OurResponseMan" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">对方单位名称</label>
                                <div class="col-md-8">
                                    <label id="OtherCompanyName2" name="OtherCompanyName" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">对方负责人</label>
                                <div class="col-md-8">
                                    <label id="OtherResponseMan2" name="OtherResponseMan" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                            <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">备注信息</label>
                                <div class="col-md-8">
                                    <label id="Note2" name="Note" class="form-control"></label>
                                </div>
                            </div>
                        </div>
       
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">附件组别ID</label>
                        <div class="col-md-8">
                            <input id="AttachGUID2" name="AttachGUID" type="hidden" />
                            <div id="div_files"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <!--记录重要参数-->
                    <input type="hidden" id="ID2" name="ID" />
                </div>
                <div class="col-md-12" style="text-align:right">
                    <button type="button" class="btn red" onclick="BackToList()">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section footerScript {
    <script>
    //页面初始化
    $(function () {
        LoadSubData();
    })

    function LoadSubData() {
        //具体业务表单数据
        var applyId = '@Request["id"]';
        $.getJSON("/ContractApproval/FindByApplyId?r=" + Math.random() + "&applyId=" + applyId, function (info) {
            $("#ContactName2").text(info.ContactName);
            $("#ContactNo2").text(info.ContactNo);
            $("#SignDate2").text(getDateStr(info.SignDate));
            $("#OurCompanyName2").text(info.OurCompanyName);
            $("#OurResponseMan2").text(info.OurResponseMan);
            $("#OtherCompanyName2").text(info.OtherCompanyName);
            $("#OtherResponseMan2").text(info.OtherResponseMan);
            $("#Note2").text(info.Note);
       
            //附件处理
            $("#ID2").val(info.ID);
            $("#AttachGUID2").text(info.AttachGUID);
            ViewUpFiles(info.AttachGUID, "div_files");
        });
    };

    function BackToList() {
       history.go(-1);
    }
    </script>
}
