<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <autofac defaultAssembly="WHC.Common.Handler">
    <components>
      <component type="WHC.Common.Handler.CorpMessage, WHC.Common.Handler" service="WHC.Common.Handler.ICorpMessage" />
      <component type="WHC.Common.Handler.TestHandler, WHC.Common.Handler" service="WHC.Common.Handler.ITestHandler" />
      <component type="WHC.Common.Handler.QRCodeHandler, WHC.Common.Handler" service="WHC.Common.Handler.IQRCodeHandler" />
      <!--邮件短信-->
      <component type="WHC.Common.Handler.SmsSendHandler, WHC.Common.Handler" service="WHC.Common.Handler.ISmsHandler" />
      <component type="WHC.Common.Handler.MailSendHandler, WHC.Common.Handler" service="WHC.Common.Handler.IMailHandler" />
      <!--插件模块-->
      <component type="WHC.Common.Handler.CinemaPlugin, WHC.Common.Handler" service="WHC.Common.Handler.ICinemaPlugin" />
      <component type="WHC.Common.Handler.GeocodingPlugin, WHC.Common.Handler" service="WHC.Common.Handler.IGeocodingPlugin" />
      <component type="WHC.Common.Handler.MoviePlugin, WHC.Common.Handler" service="WHC.Common.Handler.IMoviePlugin" />
      <component type="WHC.Common.Handler.TrafficEventPlugin, WHC.Common.Handler" service="WHC.Common.Handler.ITrafficEventPlugin" />
      <component type="WHC.Common.Handler.TravelPlugin, WHC.Common.Handler" service="WHC.Common.Handler.ITravelPlugin" />
      <component type="WHC.Common.Handler.WeatherPlugin, WHC.Common.Handler" service="WHC.Common.Handler.IWeatherPlugin" />

      <!--缓存处理对象-->
      <component type="WHC.Common.Cache.CacheManager, WHC.Common.Cache" service="WHC.Common.Cache.ICacheManager, WHC.Common.Cache"/>
    </components>
  </autofac>
</configuration>